{% load crispy_forms_tags %} 
<!doctype html>
{% include 'navbar.html' %}
{% load static %}

    <div class="container">
        <h3> {{card.card.polishName}} </h3>    
        <tr>   
            <form method="POST">
                {% csrf_token %}
                <div class = "buttons">
            {% for c in four_cards %}
            <button type="submit" class="btn btn-light" name="answer_button" value=' [ "{{c.id}}" , "{{iterator}}" , "{{quiz_id}}" ]'><p>{{c.card.englishName}}</p></button>   
            {% endfor%}
            </form>
        </div>                                                                                                                                    
        </tr>
    </div>
