{% load crispy_forms_tags %} 
<!doctype html>
{% include 'navbar.html' %}
{% load static %}
<body style="background-color:#65f7cb;"></body>
<form method = "POST"  class="login-box-form">
{% csrf_token %}
    <div class="container">
      {% for message in messages  %}
        {% if 'added_word' in message.tags %}
        <div class="container"  style="border:3px;">
            <p style ="color: black; font-size:30px; ">{{message}}</p>
        </div>
        {% endif %}
      {% endfor %}
      {{form|crispy}}
      <input type="submit" class="btn btn-primary" style="width: 100%; background-color: green" value="Dodaj">
    </div>
</form>
</body>