.word {
    width: 50%;
    text-align: center;
    border: 2px solid red;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
    word-wrap: break-word;
}

.buttons {
    width: 50%;
    text-align: center;
    border: 2px solid blanchedalmond;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
    word-wrap: break-word;
}

button {
    width: 45%;
}

p {
    font-size: 20px;
}
h2 {
    font-size: 50px;
    font-style: italic;
}

h1 {
    text-align: center;
}

@media only screen and (max-width: 900px) {
    p {
        font-size: 10px;
    }
}