.level {
    width: 50%;
    text-align: center;
    background-image: linear-gradient(to bottom right, #ccffcc, #66ff66);
    /* background-color: linear-gradient(#e66465, #9198e5); */
    border: 2px solid rgb(102, 102, 110); 
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
    word-wrap: break-word;
}

h2 {
    font-size: 25px;
    font-style: italic;
}

h1 {
    text-align: center;
}